<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Customers Data</title>
  <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div class="container">
    <h2>Customers Bank XXX</h2>
    <p> Use this form to view, add, edit, and delete customer(s).</p>
    <div class="text-right">
        <button class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalAdd">Add New</button>
    </div>
    <br>
    <input class="form-control" id="myInput" type="text" placeholder="Search">
    <br>
    <table class="table table-hover" id="mytable">
      <thead>
        <tr>
          <th>Customer ID</th>
          <th>Name</th>
          <th>Address</th>
          <th>Postal Code</th>
          <th>Phone Number</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
         {{#each results}}
        <tr>
          <td>{{ cust_id }}</td>
          <td>{{ nama }}</td>
          <td>{{ alamat }}</td>
          <td>{{ kode_pos}}</td>
          <td>{{ no_hp }}</td>
          <td>{{ email }}</td>
          <td>
            <a href="javascript:void(0);" class="btn btn-sm btn-success edit" data-id="{{ cust_id }}" data-nama="{{ nama }}" data-alamat="{{ alamat }}" data-kode_pos="{{ kode_pos }}" data-no_hp="{{ no_hp }}" data-email="{{ email }}"> Edit </a>
            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Delete" class="btn btn-sm btn-danger delete" data-id="{{ cust_id }}">Delete</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

	<!-- Add New Customer-->
	  <form action="/save" method="post">
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Add New Customer</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
                <p>Complete the new customer data</p>
               <div class="form-group">
                   <input type="text" name="nama" class="form-control" placeholder="Name" required>
               </div>
               <div class="form-group">
                   <input type="text" name="alamat" class="form-control" placeholder="Address" required>
               </div>
               <div class="form-group">
                   <input type="text" name="kode_pos" class="form-control" placeholder="Postal Code" required>
               </div>
               <div class="form-group">
                   <input type="text" name="no_hp" class="form-control" placeholder="Phone Number" required>
               </div>
               <div class="form-group">
                   <input type="email" name="email" class="form-control" placeholder="Email" required>
               </div>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary">Save</button>
             </div>
           </div>
         </div>
        </div>
	 </form>

	 <!-- Edit Customer Modal-->
   <form action="/update" method="post">
       <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Customer</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                  <input type="text" name="nama" class="form-control nama" placeholder="Name" required>
              </div>

              <div class="form-group">
                  <input type="text" name="alamat" class="form-control alamat" placeholder="Address" required>
              </div>
              <div class="form-group">
                  <input type="text" name="kode_pos" class="form-control kode_pos" placeholder="Postal Code" required>
              </div>
              <div class="form-group">
                  <input type="text" name="no_hp" class="form-control no_hp" placeholder="Phone Number" required>
              </div>
              <div class="form-group">
                  <input type="email" name="email" class="form-control email" placeholder="Email" required>
              </div>
            </div>
            <div class="modal-footer">
              <input type="hidden" name="id" class="cust_id">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
       </div>
  </form>

	 <!-- Delete Customer Modal-->
 	  <form id="add-row-form" action="/delete" method="post">
 	     <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 	        <div class="modal-dialog">
 	           <div class="modal-content">
 	               <div class="modal-header">
									 	<h5 class="modal-title" id="myModalLabel">Delete Customer</h5>
 	                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
 	               </div>
 	               <div class="modal-body">
												 <strong>Are You Sure To Delete This Data?</strong>
 	               </div>
 	               <div class="modal-footer">
									 		<input type="hidden" name="cust_id" class="form-control cust_id2" required>
 	                   	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
 	                  	<button type="submit" class="btn btn-success">Delete</button>
 	               </div>
 	      			</div>
 	        </div>
 	     </div>
 	 </form>

<script src="/assets/js/jquery-3.5.1.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script src="/assets/js/jquery-3.5.1.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function(){
			//showing data to modal for edit record
      $('#mytable').on('click','.edit',function(){
        var cust_id = $(this).data('id');
        var nama = $(this).data('nama');
        var alamat = $(this).data('alamat');
        var kode_pos = $(this).data('kode_pos');
        var email = $(this).data('email');
        $('#EditModal').modal('show');
        $('.nama').val(nama);
        $('.alamat').val(alamat);
        $('.kode_pos').val(kode_pos);
        $('.email').val(email);
        $('.cust_id').val(cust_id);
      });
			//showing modal for delete record
			$('#mytable').on('click','.delete',function(){
        var cust_id = $(this).data('id');
        $('#DeleteModal').modal('show');
        $('.cust_id2').val(cust_id);
      });

    });
</script>
  <!-- Script buat search -->
<script>
    $(document).ready(function(){
        $("#myInput").on("keyup",function(){
            var value =$(this).val().toLowerCase();
            $("#mytable tr").filter(function(){
                $(this).toggle($(this).text().toLowerCase().indexOf(value)> -1)
            });
        });
    });
</script>

</body>
</html>
